.App {
  text-align: center;
  padding: 40px 0;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.form_group .form_group-input-hidden {
  visibility: hidden;
}

.container-form,
.container-detail {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-form {
  flex-direction: column;
  align-items: center;
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form_group>input,
.form_group>button {
  margin: 10px;
  padding: 10px;
}

.form_group>button {
  color: #fff;
  background-color: #f59e0b;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.btn-check-list {
  color: #fff;
  background-color: #0e7490;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.order-title {
  font-weight: bold;
  color: #115e59;
}

.detail-item {
  width: 50%;
  background-color: #ffedd5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  margin: 7px 0;
}

.detail-item>p {
  margin: 5px 10px;
  padding: 0;
}

.detail-item>p>span {
  color: #6b7280;
  font-size: 13px;
}

.item-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.item-icon>i {
  margin: 5px;
  cursor: pointer;
  color: #64748b;
}

.item-icon>i:nth-child(1):hover {
  color: #16a34a;
  font-weight: 600;
}

.item-icon>i:nth-child(2):hover {
  color: #b91c1c;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}